*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
a{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}
a:hover{
    color: rgb(176, 128, 39);
}
h1{
    display: flex;
    height: 80px;
    background-image: url("bg.jpg");
    background-size: cover;
    align-items: center;
    padding-left: 15px;
    color: antiquewhite;
}
body{
    background-image: url("big\ bg.jpg");
    background-size: cover;
}
h2{
    color: rgb(247, 221, 188);
    margin-left: 10px;
    display: inline-block;
    font-size: xx-large;
}
ul{
    margin-top: 31px;
    margin-left: 10px;
    color: white;
    font-size: large;
}
ol{
    color: white;
    margin-left: 23px;
    margin-top: 30px;
    font-size: large;
}
h2:hover{
    color: chartreuse;
}